@import url(normalize.css);

/* General */
body {
  font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
    sans-serif;
  font-weight: normal;
  font-size: 1rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  height: 100vh;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* Gameboard */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  min-height: 450px;
}

.grid-container > div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8rem;
  cursor: pointer;
  border: 1px solid grey;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 1px solid grey;
  padding: 1rem;
}

.input-container {
  display: flex;
  flex-flow: row wrap;
  max-width: 250px;
  width: 100%;
}

.input-container > * {
  padding: 0.5rem;
  width: 100%;
}

button {
  width: 60%;
}
